*.dep
*.aps
*.vbw
*.suo
*.ncb
*.plg
*.bsc
*.ilk 
*.exp
*.sbr
*.opt
*.pdb
*.idb
*.pch
*.res
*.user
Temp/*
[Oo]bj
[Bb]in
[Rr]ealse
[Dd]ebug/*
*.ncrunchsolution.user
*.ncrunchsolution
*.ncrunchsolution.cache
./Resharp*
Thumbs.db
cmd.exe
Git Bash.lnk
*.docstates.suo
[Tt]est[Rr]esults
.Git
Library/metadata/*
Library/ScriptAssemblies/*
Library/AssetServerCacheV3
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/FailedAssetImports.txt
Library/MonoManager.asset
Build/*
Library/Build*
UnityGenerated/
Library/
*.svd
*.userprefs
*.csproj
*.pidb
*.sln
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
